.spider1{
    background: url("img/spiderman/spider6.jpg");
    background-size: 100%;             
}
.spider2{
    background: url("img/spiderman/spider1.jpg")no-repeat center;
    background-size: 100%;
}
.spider3{
    background: url("img/spiderman/spider2.png")no-repeat center;
    background-size: 100%;
}
.spider4{
    background: url("img/spiderman/spider3.png")no-repeat center;
    background-size: 100%;
}
.spider5{
    background: url("img/spiderman/spider4.jpg")no-repeat center;
    background-size: 100%;
}
.spider6{
    background: url("img/spiderman/spider5.jpg")no-repeat center;
    background-size: 100%;
}



.tlou21{
    background: url("img/tlou2/tlou2.jpg")no-repeat center;
    background-size: 100%;             
}
.tlou22{
    background: url("img/tlou2/tlou26.jpg")no-repeat center;
    background-size: 100%;
}
.tlou23{
    background: url("img/tlou2/tlou22.jpg")no-repeat center;
    background-size: 100%;
}
.tlou24{
    background: url("img/tlou2/tlou23.jpg")no-repeat center;
    background-size: 100%;
}
.tlou25{
    background: url("img/tlou2/tlou24.jpg")no-repeat center;
    background-size: 100%;
}
.tlou26{
    background: url("img/tlou2/tlou25.jpg")no-repeat center;
    background-size: 100%;
}



.fifa1{
    background: url("img/fifa23.jpg")no-repeat center;
    background-size: 100%;             
}
.fifa2{
    background: url("img/fifa23/fifa2.jpg")no-repeat center;
    background-size: 100%;
}
.fifa3{
    background: url("img/fifa23/fifa3.jpg")no-repeat center;
    background-size: 100%;
}
.fifa4{
    background: url("img/fifa23/fifa4.jpg")no-repeat center;
    background-size: 100%;
}
.fifa5{
    background: url("img/fifa23/fifa5.jpg")no-repeat center;
    background-size: 100%;
}
.fifa6{
    background: url("img/fifa23/fifa6.jpg")no-repeat center;
    background-size: 100%;
}


.war1{
    background: url("img/war/war.jpg")no-repeat center;
    background-size: 100%;             
}
.war2{
    background: url("img/war/war2.jpg")no-repeat center;
    background-size: 100%;
}
.war3{
    background: url("img/war/war3.jpg")no-repeat center;
    background-size: 100%;
}
.war4{
    background: url("img/war/war4.jpg")no-repeat center;
    background-size: 100%;
}
.war5{
    background: url("img/war/war5.jpg")no-repeat center;
    background-size: 100%;
}
.war6{
    background: url("img/war/war6.jpg")no-repeat center;
    background-size: 100%;
}



.gta1{
    background: url("img/gta/gta.jpg")no-repeat center;
    background-size: 100%;             
}
.gta2{
    background: url("img/gta/gta2.jpg")no-repeat center;
    background-size: 100%;
}
.gta3{
    background: url("img/gta/gta3.jpg")no-repeat center;
    background-size: 100%;
}
.gta4{
    background: url("img/gta/gta4.jpg")no-repeat center;
    background-size: 100%;
}
.gta5{
    background: url("img/gta/gta5.jpg")no-repeat center;
    background-size: 100%;
}
.gta6{
    background: url("img/gta/gta6.jpg")no-repeat center;
    background-size: 100%;
}



.star1{
    background: url("img/star/star.jpg")no-repeat center;
    background-size: 100%;             
}
.star2{
    background: url("img/star/star2.jpg")no-repeat center;
    background-size: 100%;
}
.star3{
    background: url("img/star/star3.jpg")no-repeat center;
    background-size: 100%;
}
.star4{
    background: url("img/star/star4.jpg")no-repeat center;
    background-size: 100%;
}
.star5{
    background: url("img/star/star5.jpg")no-repeat center;
    background-size: 100%;
}
.star6{
    background: url("img/star/star6.jpg")no-repeat center;
    background-size: 100%;
}



.tlou1{
    background: url("img/tlou/tlou.jpg")no-repeat center;
    background-size: 100%;             
}
.tlou2{
    background: url("img/tlou/tlou2.jpg")no-repeat center;
    background-size: 100%;
}
.tlou3{
    background: url("img/tlou/tlou3.jpg")no-repeat center;
    background-size: 100%;
}
.tlou4{
    background: url("img/tlou/tlou4.jpg")no-repeat center;
    background-size: 100%;
}
.tlou5{
    background: url("img/tlou/tlou5.jpg")no-repeat center;
    background-size: 100%;
}
.tlou6{
    background: url("img/tlou/tlou6.jpg")no-repeat center;
    background-size: 100%;
}



.hp1{
    background: url("img/hp/hp.jpg")no-repeat center;
    background-size: 100%;             
}
.hp2{
    background: url("img/hp/hp2.jpg")no-repeat center;
    background-size: 100%;
}
.hp3{
    background: url("img/hp/hp3.jpg")no-repeat center;
    background-size: 100%;
}
.hp4{
    background: url("img/hp/hp4.jpg")no-repeat center;
    background-size: 100%;
}
.hp5{
    background: url("img/hp/hp5.jpg")no-repeat center;
    background-size: 100%;
}
.hp6{
    background: url("img/hp/hp6.jpg")no-repeat center;
    background-size: 100%;
}

